h1 {
    text-align: center;
    border-bottom: 2px solid green;
    max-width: 500px;
    margin: 10px auto;
}

div {
    font-size: 30px;
}

.example-block {
    border: 1px solid red;
    padding: 10px;
    overflow: auto;
}

.example-list {
    float: left;
    /* border: 1px solid pink; */
    width: 20%;
    padding: 5px;
}

.example-list p {
    margin: 0;
    margin-bottom: 10px;
}

.example-list button {
    font-size: 20px;
    display: inline-block;
    width: 90%;
    padding:5px;
    text-align: left;
    border-radius: 4px;
    background-color: #FF5733;
    border: 1px groove grey;
    color: black;
}

.example-list button:hover {
    cursor: pointer;
    /* background-color: white; */
    color: white;
}

.example-section {
    float: left;
    /* display: inline-block; */
    width: 70%;
    margin-left: 20px;
    padding: 5px;
    margin: 5px;
}

.topic-head {
    margin-bottom: 5px;
    width: max-content;
    border-bottom: 2px solid green;
}

.output {
    margin-bottom: 5px;
    border: 1px solid yellowgreen;
    font-size: 20px;
    display: none;
    margin-top: 5px;
    /* width: 100%; */
}

.output p {
    margin: 0;
}

.add-product {
    display: none;
    border-radius: 6px;
    border: 1px solid blue;
    padding: 5px;
}

.add-product #position {
    display: none;
}

.add-product input, select {
    border: none;
    border-bottom: 2px solid navy;
    font-size: 18px;
}

.add-product input:focus, select:focus {
    outline: none;
}



.video-block {
    margin-top: 10px;
    border: 1px solid yellowgreen;
    padding: 10px;
}

.video-block p {
    /* padding: 5; */
    margin: 0;
}